---
import Base from './Base.astro';

import Back from "./components/Back.astro"
import Navbar from "./components/Navbar.astro"
import LoginModal from "$components/client/modals/Login.astro"

const {
  needs = { auth: true, roles: ["admin"] },
  description = "home",
  page = "noname",
  title = "home",
  back,
} = Astro.props;

const loginModalSelector = "login-modal";
---

<Base description={description} page={page} title={title}>
  <header>
    <Navbar loginModalSelector={loginModalSelector} />
  </header>

  <wl-security needs={JSON.stringify(needs)}>
    <main
      style="min-height: 74.8svh;"
      class="container bg-body-tertiary rounded shadow-lg mt-4 mb-5"
      id="content">

      <header class="p-1">
        <Back back={back} page={page}>
          <slot name="actions" />
        </Back>

        <slot />
      </header>
    </main>

    <div class="text-center" slot="warning">
      <h4>Please login to access</h4>

      <button
        type="button"
        class="btn btn-primary"
        aria-label="login to access"
        data-bs-toggle="modal"
        data-bs-target={"#" + loginModalSelector}>
        Login
      </button>
    </div>
  </wl-security>
</Base>

<LoginModal selector={loginModalSelector} />
