---
import Base from './Base.astro';

import Navbar from "./components/Navbar.astro"

const {
  needs = { auth: true, roles: ["admin"] },
  description = "home",
  page = "noname",
  title = "home",
} = Astro.props;
---

<Base description={description} page={page} title={title}>
  <header>
    <Navbar />
  </header>

  <wl-security needs={JSON.stringify(needs)}>
    <main
      style="min-height: 74.8svh;"
      class="container bg-body-tertiary rounded shadow-lg mt-4 mb-5"
      id="content">

      <header class="pt-3 text-center">
        <h1 style="view-transition-name: header-title;">{page}</h1>
        <hr class="mt-0 w-75 mx-auto text-primary" />
      </header>

      <slot />
    </main>
  </wl-security>
</Base>
