---
import Layout from '$components/client/layouts/Layout.astro'
import Create from '$components/client/admin/content/Create.astro'
import Table from '$components/client/admin/content/Table.astro'

// import ModalCreateContent from '$components/client/modals/CreateContent.astro'
// <ModalCreateContent table={content} modalId={modalId} />
// const modalId = `modal-create-${content}`:

export async function getStaticPaths() {
  return [
    { params: { content: "post" }},
    { params: { content: "module" }},
  ]
}

const { content } = Astro.params

const needs = {
  auth: true,
  roles: ["admin", "thera"],
}
---

<script src="$lib/client/webslab/database.ts"></script>

<Layout
  description={`List of ${content} to manage`}
  needs={needs}
  page={`${content.charAt(0).toUpperCase() + content.slice(1)} Manager`}
  title={`${content.charAt(0).toUpperCase() + content.slice(1)} Manager`}
  back={{ enabled: true, path: "auth/admin/" }}>

  <div slot="actions">
    <Create content={content} />
  </div>

  <div class="px-xl-2">
    <Table content={content} />
  </div>

  <script>
    import { templateTable } from "$components/client/admin/content/table.ts"
    import { type WlDatabase } from "$lib/client/webslab/database.ts"

    const wlDatabase = document.querySelector("wl-database") as WlDatabase;
    const table = wlDatabase.dataset.table

    wlDatabase.template = templateTable;
    wlDatabase.query = `
      SELECT
        id,title,likes,
        meta::tb(id) as table,
        publish,publish < time::now() AND !draft as published,
        author.name as author
      FROM ${table} ORDER BY publish DESC;
    `;
  </script>
</Layout>

