---
import { pwaAssetsHead } from 'virtual:pwa-assets/head';
import { pwaInfo } from 'virtual:pwa-info';
import { BASE, SITE } from "$lib/consts.ts";

import '$assests/styles/layout.scss'

import Navbar from "./components/Navbar.astro"
import Footer from "./components/Footer.astro"

const baseUrl = Astro.url.href
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
  description = "home",
  page = "noname",
  title = "home",
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
  <head>
    <base target="_top" href={SITE + BASE} />

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <meta name="title" content={title} />
    { pwaAssetsHead.themeColor && <meta name="theme-color" content={pwaAssetsHead.themeColor.content} /> }

    <link rel="canonical" href={canonicalURL.href} />
    { pwaAssetsHead.links.map(link => (<link {...link} />)) }

    <title>{title}</title>

    <script src="$lib/pwa.ts"></script>
    { pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} /> }
  </head>

  <body>
    <header class="mb-4">
      <Navbar />
    </header>

    <main
      style="min-height: 74.8svh;"
      class="container bg-body-tertiary rounded shadow-lg mb-5"
      id="content">

      <header class="pt-3 text-center">
        <h1>{page}</h1>
        <hr class="mt-0 w-75 mx-auto text-primary" />
      </header>

      <slot />
    </main>

    <Footer />

    <script src="bootstrap/js/index.esm.js"></script>
    <script is:inline src={BASE + "js/theme.js"}></script>

    <script>
      import "$lib/services/tracer.ts"
      import "$lib/services/logger.ts"
      import "$lib/services/webpush/client.ts"
    </script>
  </body>
</html>
