---
import { BASE, SITE } from "$lib/consts";

import '$assests/styles/layout.scss'
import Navbar from "./components/Navbar.astro"
import Footer from "./components/Footer.astro"

const baseUrl = Astro.url.href
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
  description = "home",
  page = "noname",
  title = "home",
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
  <head>
    <base target="_top" href={SITE + BASE} />

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <meta name="title" content={title} />

    <link rel="canonical" href={canonicalURL.href} />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />

    <title>{title}</title>
  </head>

  <body>
    <header class="mb-4">
      <Navbar />
    </header>

    <main
      style="min-height: 74.8svh;"
      class="container bg-body-tertiary rounded shadow-lg mb-5"
      id="content">

      <header class="pt-3 text-center">
        <h1>{page}</h1>
        <hr class="mt-0 w-75 text-primary" />
      </header>

      <slot />
    </main>

    <Footer />

    <script src="bootstrap/js/index.esm.js"></script>
    <script is:inline src="/js/theme.js"></script> <!-- NOTE: start with slash -->

    <script>import "$lib/services/load.ts"</script>
  </body>
</html>
