---
import "./_slug.css"

import Layout from '$components/client/layouts/Layout.astro';
import Visits from '$components/client/content/Visits.astro'

const needs = { auth: false, roles: [] }
const back = { enabled: true, path: "content/blog/" }

const countId = "content-visits"
---

<Layout
  description="Blog post"
  needs={needs}
  back={back}
  page=""
  title="Post: tab">

  <div slot="actions">
    <Visits countId={countId} />
  </div>

  <!-- actions -->
    <!-- visit -->
    <!-- likes -->
  <!-- actions -->

  <img
    id="post-hero"
    class="d-block img-fluid mx-auto border border-2 rounded shadow-sm"
    width="960"
    height="540"
    loading="lazy" />

  <wl-database target="#article">
    <article id="article"></article>
  </wl-database>

  <script>
    import { template } from './_slug.ts';
    import { type WlDatabase } from "$lib/client/webslab/database.ts";

    const url = new URL(location.href);
    const slug = url.searchParams.get("slug") ||
      url.pathname.split("/").slice(-2)[0];

    const wlDatabase = document.querySelector("wl-database") as WlDatabase;
    wlDatabase.query = `SELECT * FROM ONLY post WHERE slug = '${slug}'`;
    wlDatabase.template = template;

    wlDatabase.addEventListener("wl-task:completed", () => {
      console.log("Database is ready");
    });
  </script>
</Layout>

<script>
  const wlDatabase = document.querySelector("wl-database")

  const metaDescriptionEl = document.querySelector("meta[name='description']")
  const visitsElement = document.getElementById("content-visits");
  const titleEl = document.querySelector("title")
  const imgEl = document.querySelector("#post-hero")
  const h1El = document.querySelector("h1")

  wlDatabase.addEventListener("wl-task:completed", (event) => {
    const post = event.detail.result

    visitsElement.textContent = post.visits.toString();
    titleEl.innerText = post.title
    h1El.innerText = post.title

    imgEl.style.viewTransitionName = `item-${post.slug}`
    imgEl.alt = post.title
    imgEl.src = post.hero

    if (!metaDescriptionEl) {
      const metaDescription = document.createElement("meta")

      metaDescription.name = "description"
      metaDescription.content = post.description

      document.head.appendChild(metaDescription)
    } else {
      metaDescriptionEl.content = post.description
    }
  });
</script>

<script>
import("$lib/client/utils/index.ts").then(({ visit }) => { visit(); });
</script>
