---
import { Image } from 'astro:assets'

import Layout from '$components/client/layouts/Layout.astro'
import News   from '$components/client/home/News.astro'

import logoP from '$assets/images/logo-base-1080_1080.png'
import logoC from '$assets/images/logo-conselleria-rgb_rojo_cast.png'

const needs = { auth: false, roles: [] }
---

<Layout
  needs={needs}
  title="Home"
  page="Welcome to My Site"
  back={{enabled: false}}>

  <section class="col col-md-6 mx-auto">
    <Image
      class="img-fluid ratio ratio-1x1"
      loading="eager"
      src={logoP}
      format={'webp'}
      widths={[240, 540, 720, logoP.width]}
      sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${logoP.width}px`}
      alt="Project Logo"/>
  </section>

  <div class="row">
    <div class="col-6 col-md-3 col-lg-3 mx-auto">
      <Image
        class="img-fluid ratio ratio-16x9"
        loading="async"
        src={logoC}
        format={'webp'}
        widths={[240, 540, logoC.width]}
        sizes={`(max-width: 360px) 240px, (max-width: 1600px) 540px, ${logoC.width}px`}
        alt="Project Logo"/>
    </div>

    <div class="col-6 col-md-3 col-lg-3 mx-auto bg-warning"></div>
    <div class="col mx-auto bg-primary">f</div>
  </div>

  <hr class="my-4" />

  <section class="px-0 px-md-4 my-4 py-4 mx-auto">
    <News />
  </section>
</Layout>
