---
import pkg from "$lib/../../package.json" with { type: "json" };

const version = pkg.version;
const year = new Date().getFullYear();
---

<style>
footer {
  font-size: 1rem;
  padding: 2em 1em 3em;
  text-align: center;
}
</style>

<footer class="bg-body-tertiary">
  &copy; {year} Kenny. MIT license. Version {version}
</footer>

<script>
import { html } from "lit"
import { LOGS } from '$lib/client/services/logger.ts';
import { TRACES } from '$lib/client/services/tracer.ts';

const footer = document.querySelector('footer');

let clicks = 0;
let firstClick = null;
footer.addEventListener('click', () => {
  const now = Date.now();

  if (!firstClick || now - firstClick > 2000) {
    firstClick = now;
    clicks = 1;
    return;
  }

  if (++clicks === 5) {
    const submit = (e) => {
      e.preventDefault()

      const values = Object.fromEntries(new FormData(e.target).entries())

      localStorage.setItem('tracesEnabled', values.traces === 'on')
      localStorage.setItem('logsEnabled', values.logs === 'on')

      dialog.close()
      location.reload()
    }

    const dialog = document.querySelector("wl-dialog")
    dialog.openDialog({
      header: "You found the easter egg!",

      content: html`
        <div class="row w-100">
          <div class="col-12 col-md-6">
            <h5>Logs</h5>

            <form
              id="easter-form"
              @submit=${submit}>
              <div class="form-check form-switch">
                <input
                  switch
                  id="switch-traces"
                  name="traces"
                  role="switch"
                  type="checkbox"
                  class="form-check-input"
                  .checked=${TRACES}>
                <label class="form-check-label" for="switch-traces">Enable Traces</label>
              </div>

              <div class="form-check form-switch">
                <input
                  switch
                  id="switch-logs"
                  name="logs"
                  role="switch"
                  type="checkbox"
                  class="form-check-input"
                  .checked=${LOGS}>
                <label class="form-check-label" for="switch-logs">Enable Logs</label>
              </div>
            </form>
          </div>

          <hr class="d-md-none m-3 border-primary" />
          <div class="col-12 col-md-6">
            <h5>Paths</h5>

            -> <a href="tests/">Tests Page</a>
          </div>
        </div>
      `,

      footer: html`
        <button
          type="submit"
          form="easter-form"
          class="btn btn-primary float-end ms-2">Send</button>
        <button class="btn btn-outline-primary float-end" @click=${dialog.close}>Close</button>
      `
    })
  }
})
</script>
